

@model List<CommentVM>

<div class="comments mt-5">
    <h4 class="side-title ">Yorumlar (@Model.Count)</h4>
    @foreach (var item in Model)
    {
        <div class="media mt-4">
            <div class="img-circle">
                <img src="~/Traversal-Liberty/assets/images/c1.jpg" class="img-fluid" alt="...">
            </div>
            <div class="media-body">

                <ul class="time-rply mb-2">
                    <li>
                        <a href="#URL" class="name mt-0 mb-2 d-block">@item.CommentUser</a>
                        @item.CreatedDate


                    </li>
                    
                </ul>
                <p>
                    @item.CommentContent
                </p>
                @if (!string.IsNullOrWhiteSpace(item.CommentReply)) // Yanıt varsa admin bölümünü göster
                {
                    <div class="media second mt-4 p-0 pt-2">
                        <a class="img-circle img-circle-sm" href="#url">
                            <img src="~/Traversal-Liberty/assets/images/c3.jpg" class="img-fluid" alt="...">
                        </a>
                        <div class="media-body">
                            <ul class="time-rply mb-2">
                                <li>
                                    <a href="#URL" class="name mt-0 mb-2 d-block">Admin</a>
                                    @item.ModifedDate
                                </li>
                               
                            </ul>
                            <p>
                                @item.CommentReply
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    }



</div>