@model List<AdminGuideVM>
@{
    ViewData["Title"] = "ListGuides";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Tur Rehberleri</h1>

<table class=" table table-bordered">
    <tr>
        <td>#</td>
        <td>İsim Soyisim</td>
        <td>Açıklama</td>
        <td>Durum</td>
        <td>Sil</td>
        <td>Güncelle</td>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <th>@item.ID</th>
    <th>@item.Name</th>
    <th>@item.Description</th>
    @if (item.Status=="Updated" || item.Status =="Inserted")
    {
        <th>Aktif</th>
    }
    else
    {
        <th>Pasif</th>
    }

    <th><a href="/Admin/Guide/ActiveGuide/@item.ID" class="btn btn-outline-success">Aktif Yap</a></th>
    <th><a href="/Admin/Guide/DeleteGuide/@item.ID" class="btn btn-outline-danger">Pasif Yap</a></th>
    <th><a href="/Admin/Guide/UpdateGuide/@item.ID" class="btn btn-outline-warning">Güncelle</a></th>
</tr>
    }
</table>
<a target="_blank" class="btn btn-outline-primary" href="/Admin/Guide/AddGuide">Tur Rehberi Yarat</a>

@if (!ViewData.ModelState.IsValid)
{
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Hata!',
            text: 'Aşağıdaki hataları düzeltiniz:',
            html: '@Html.Raw(string.Join("<br/>", ViewData.ModelState.Values.SelectMany(v => v.Errors).Select(e => e.ErrorMessage)))'
        });
    </script>
}
@if (TempData["SuccessMessage"] != null)
{
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Başarılı!',
            text: '@TempData["SuccessMessage"]'
        });

    </script>
}