
@model AdminAddReservationVM
@{
    ViewData["Title"] = "AddReservation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>rezervasyon Yap</h1>

<form  method="post" >
    <div class="row">


     
        <div class="mb-3 col-md-6">
            <label for="zipCode" class="form-label">Kaç Kişi</label>
            <input type="text" asp-for="Reservation.PersonCount"
                   class="form-control" />
        </div>
        <div class="mb-3 col-md-6">
            <label for="zipCode" class="form-label">Açıklama</label>
            <input type="text" asp-for="Reservation.Description"
                   class="form-control" />
        </div>
        <div class="mb-3 col-md-6">
            <label class="form-label" for="country">Şehir</label>
            <select asp-for="Reservation.DestinationID" class="select2 form-select">
                
                @foreach (var item in Model.Destinations)
                {
                    <option  value="@item.ID">@item.City</option>
                }
            </select>
        </div>
        <div class="mb-3 col-md-6">
            <label class="form-label" for="country">Kullanıcı</label>
            <select asp-for="Reservation.AppUserID" class="select2 form-select">
                
                @foreach (var item in Model.AppUsers)
                {
                    <option value="@item.ID">@item.Name @item.Surname</option>
                }
            </select>
        </div>
        <div class="mb-3 col-md-6">
            <label for="language" class="form-label">Tarih</label>
            <input type="date" asp-for="Reservation.CreatedDate" class=" form-control" />
        </div>
    </div>
    <div class="mt-2">
        <button type="submit" class="btn btn-primary me-2">Ekle</button>
        
    </div>
</form>