@using TraversalCoreProject.Areas.Admin.Models
@model AdminReservationPageListVM
@{
    ViewData["Title"] = "ListReservations";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Rezervasyonlar</h1>

<table class=" table table-hover">
    <tr>
        <td>Rezervasyon Şehri</td>
        <td>Rezervasyon Sahibi</td>
        <td>Kaç Kişilik</td>
        <td>Rezervasyon Tarihi</td>
        <td>Rezervsayon Durumu</td>
        <td>Açıklama</td>

        <th>Sil</th>
        <th>Güncelle</th>


    </tr>
    @foreach (var item in Model.Reservations)
    {
        <tr>
            <th>@item.DestinationName</th>
            <th>@item.AppUserName</th>
            <th>@item.PersonCount</th>
            <th>@item.CreatedDate</th>
            <th>@item.RezervasyonDurumu</th>
            <th>@item.Description</th>

            <th><a href="/Admin/Reservation/DeleteReservation/@item.ID" class="btn btn-outline-danger">İptal Et</a></th>



            <th><a href="/Admin/Reservation/UpdateReservation/@item.ID" class="btn btn-outline-warning">Güncelle</a></th>
        </tr>
    }
</table>

<a target="_blank" class="btn btn-outline-primary" href="/Admin/Reservation/AddReservation">Rezervasyon Yarat</a>
<a class="btn btn-outline-dark" href="/Admin/Excel/DownloadReservationListAsExcel">Rezervasyonları Excel Olarak İndir</a>

@if (!ViewData.ModelState.IsValid)
{
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Hata!',
            text: 'Aşağıdaki hataları düzeltiniz:',
            html: '@Html.Raw(string.Join("<br/>", ViewData.ModelState.Values.SelectMany(v => v.Errors).Select(e => e.ErrorMessage)))'
        });
    </script>
}
@if (TempData["SuccessMessage"] != null)
{
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Başarılı!',
            text: '@TempData["SuccessMessage"]'
        });

    </script>
}