@model List<AdminAppUserVM>
@{
    ViewData["Title"] = "ListUsers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Üyelerimiz</h1>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<table class=" table table-bordered">
    <tr>
        <td>#</td>
        <td>Kullanıcı Adı</td>
        <td>İsim</td>
        <td>Soy İsim</td>
        <td>Telefon Numarası</td>
        <td>Mail</td>
        <td>Cinsiyet</td>

        <td>Sil</td>
       
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.ID</th>
            <th>@item.UserName</th>
            <th>@item.Name</th>
            <th>@item.Surname</th>
            <th>@item.PhoneNo</th>
            <th>@item.Email</th>
            <th>@item.Gender</th>

            <th><a href="/Admin/User/DeleteUser/@item.ID" class="btn btn-outline-danger">Siteden Engelle</a></th>

        </tr>
    }
</table>
@if (!ViewData.ModelState.IsValid)
{
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Hata!',
            text: 'Aşağıdaki hataları düzeltiniz:',
            html: '@Html.Raw(string.Join("<br/>", ViewData.ModelState.Values.SelectMany(v => v.Errors).Select(e => e.ErrorMessage)))'
        });
    </script>
}
@if (TempData["SuccessMessage"] != null)
{
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Başarılı!',
            text: '@TempData["SuccessMessage"]'
        });

    </script>
}